# Terraform Provider release workflow.
name: Release

# This GitHub action creates a release when a tag that matches the pattern
# "v*" (e.g. v0.1.0) is created.
on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      RELEASE_VERSION:
        required: true
        type: string

env:
  DEPOT_TOKEN: ${{ secrets.DEPOT_TOKEN }}
  RELEASE_VERSION: ${{ github.event_name == 'release' && github.event.release.tag_name || inputs.RELEASE_VERSION || '0.0.0' }}

jobs:
  release:
    name: Release provider
    runs-on: leafblower-k8s-amd64
    container:
      image: registry.services.helixer.io/helixer/depot-cli:latest
      credentials:
        username: ${{ secrets.DOCKER_USERNAME_HARBOR_IO }}
        password: ${{ secrets.DOCKER_PASSWORD_HARBOR_IO }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Import GPG key
        run: echo "${{ secrets.GPG_SECRET_KEY }}" | base64 -d | gpg --import

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: build --clean --snapshot

      - name: Publish provider
        run: |
          make publish key=sign@helixer.io version=${{ env.RELEASE_VERSION }}
